<!-- UserMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.TODO.mapper.TaskMapper">

    <!-- タスクの全件取得 -->
    <select id="findAll" resultType="com.example.TODO.entity.Task">
        SELECT * FROM task where deleteFlg = 0;
    </select>

    <!-- 新規タスクの登録 -->
    <insert id="save">
        INSERT INTO
            task(title, description, deadline, status, created_at, updated_at, deleteFlg)
        VALUES
            (#{title}, #{description}, #{deadline}, 1,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,0);
    </insert>

    <!-- タスクIDを指定してタスクを取得 -->
    <select id="getTask" resultType="com.example.TODO.entity.Task">
        SELECT * FROM task where taskId = #{taskId} and deleteFlg = 0;
    </select>

    <!-- タスクの更新 -->
    <update id="update" parameterType="com.example.TODO.entity.Task">
        UPDATE task SET title = #{title}, description = #{description}, deadline = #{deadline}, status = #{status},
        updated_at = CURRENT_TIMESTAMP WHERE taskId = #{taskId} and updated_at = #{updatedAt};
    </update>

</mapper>