<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Form Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Practice</span>
            </div>
        </nav>

        <div class="container">
            <h1>Confirm</h1>
            <div class="px-4 pt-3 my-3">
                <div class="mb-3">
                    <label>Title</label>
                    <p th:text="${taskForm.title}">title</p>
                </div>
                <div class="mb-3">
                    <label>Description</label>
                    <p th:text="${taskForm.description}">description</p>
                </div>
                <div class="mb-3">
                    <label>Deadline</label>
                    <p th:text="${#temporals.format(taskForm.deadline, 'yyyy/MM/dd HH:mm')}">Formatted Deadline</p>
                </div>
                <div class="mb-3">
                    <label>status</label>
                    <p th:text="${taskForm.status == 1 ? '未着手' : taskForm.status == 2 ? '作業中' : '完了'}">Status</p>
                </div>
            </div>

            <div class="d-flex justify-content-start">
                <form th:action="@{/task/save}" method="post" th:object="${taskForm}" class="mb-3">
                    <input type="hidden" name="title" th:field="*{title}">
                    <input type="hidden" name="description" th:field="*{description}">
                    <input type="hidden" name="deadline" th:field="*{deadline}">
                    <input type="hidden" name="status" th:field="*{status}">
                    <input type="hidden" name="taskId" th:field="*{taskId}">
                    <input type="hidden" name="updatedAt" th:field="*{updatedAt}">
                    <!-- 送信ボタン -->
                    <button type="submit" class="btn btn-primary me-2" value="submit">submit</button>
                </form>
                <button type="submit" class="btn btn-outline-secondary">back</button>
            </div>
        </div>

        <footer class="py-3 my-4">
            <p class="text-center text-body-secondary">&copy; 2024 Company, Inc</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
                integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
                crossorigin="anonymous"></script>
    </body>
</html>